@import "./variables";
*{
    margin: 0;
    
}

body{
    font-family: $fontFamily;
}

header{
    
    
    
    .logo{
        @include logo();
        
    }

    img{
        width: 100%;
        @include blur();
    }
    
    img:hover {
	    -webkit-filter: blur(0);
	    filter: blur(0);
    }

}

section{
    @include styleSection();
}



.block1{
    h1{
        @include titre();
    }

    button{
        @include styleButton();  
        
    }
    button:hover {
        background-color: rgb(132, 153, 247);
        transform: scale(1.1);
        transition: transform 0.2s;
    }
}

.block2{
    @include styleBlock();
    @include zoom();
    h2{
        @include titre(25px);
    }
}

.block2:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

p{
    @include styleTexte();
}